# .env.example

# Path to raw data file
RAW_DATA_PATH=data/raw/Google-Playstore.csv

# Path to write processed data
PROCESSED_DATA_PATH_PARQUET=data/processed/
PROCESSED_DATA_PATH_CSV=data/processed/

# Path to export Tableau-ready files
EXPORT_PATH_PARQUET=data/exports/
EXPORT_PATH_CSV=data/exports/

# Logging level: DEBUG | INFO | WARNING
LOG_LEVEL=INFO